<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.amazon.aws" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Amazon AWS</name>
	<author>Telerik Inc.</author>
	
	<js-module name="AWS" src="www/aws.js">
		<clobbers target="AWS" />
	</js-module>

    <preference name="ACCESS_KEY" />
    <preference name="SECRET_KEY" />
  
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="AWS">
				<param name="ios-package" value="CDVAmazon" />
			</feature>
		</config-file>
		    
		<source-file src="src/ios/CDVAmazon.m" />

		<config-file target="*-Info.plist" parent="AccessKey">
            <string>$ACCESS_KEY</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="SecretKey">
            <string>$SECRET_KEY</string>
        </config-file>
	</platform>

	<platform name="android">

		<source-file src="src/android/res/values/amazonaws.xml" target-dir="res/values" />

        <config-file target="res/values/amazonaws.xml" parent="/*">
            <string name="aws_access_key">$ACCESS_KEY</string>
            <string name="aws_secret_key">$SECRET_KEY</string>
        </config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AWS">
           		<param name="android-package" value="com.amazon.aws.AmazonPlugin"/>
         	</feature>
     	</config-file>

     	<source-file src="src/android/AmazonPlugin.java"  target-dir="src/com/amazon/aws" />

	</platform>	

</plugin>